.policy-container {
  width: 525px;
  height: 620px;
  border-radius: 8px;
  margin: calc((100vh - 620px) / 2) auto;
  background-color: #fff;
}

.policy-section-1 {
  margin: 0 70px;
}

.policy-section-2 {
  display: flex;
  flex-direction: column;
}

.button-container {
  margin-top: 35px;
}
