.error-container{
  width: 525px;
  height: 360px;
  border-radius: 8px;
  margin: calc((100vh - 620px) / 2) auto;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}